<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "recorderWorker" %>
  <%= csrf_meta_tags %>
  <title>Eric's Deployed Clone Audio Recorder</title>

	
	<style>
	body { font: 14pt Arial, sans-serif; background: lightgrey; }
	select { font: 14pt Arial, sans-serif; }
	body { text-align: center; margin-top: 12pt;}
	canvas { display: inline-block; background: #202020; box-shadow: 0px 0px 10px blue;}
	#record.recording { background: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); }
	</style>
</head>
<body>

<%= yield %>

</body>
</html>

